* {
    margin: 0px;
    padding: 0px;
}
h1 {
    font-family: 'Wendy One', sans-serif;
    font-size: 50px;
    display: inline-block;
} 
h2 {
    font-size: 30px;
    font-family: 'Mooli', sans-serif;
}
h3 {
    font-family: 'Mooli', sans-serif;
    font-size: 20px;
}


body {
    background: url("../imagenes_video/descenso1.jpg");
    background-attachment: fixed;
}

#cabecera {
    display: inline-block;

}

#menu li {
    float: left;
    font: bold 14px verdana, sans-serif;
    width:5%;
    text-align:center;
    margin: 0 auto;
    background: #214C49;
    padding: 5px 15px;
    text-align: center;
}

#seccion {
    float: center;
    text-align: center;
    background-color: #c7ac97;
    width: 1050px;
    margin: 0 auto;
} 
#seccion2 {
	text-align: center;
    background: #c7ac97;
    width: 700px;
    margin: 0 auto;
} 
#columna {
    float: middle; 
    width: 150px;
    margin: 0 auto;
    padding: 10px;
    background: #985E6D;
    margin-bottom:1000px;
    border: 1px black solid;
}
#pie {
    clear: both; 
    text-align: right;
    padding: 20px;
    border-top: 2px solid #999999;
}
article {
    width: 1000px;
    margin: 20px;
}

article footer {
    text-align: right;
}

time {
    color: #999999;
} 
figcaption {
    font: italic 14px verdana, sans-serif;
}
#margen {
    text-align: center;
}
#columna1 {
    float: center;
    text-align: center;

    margin: 0 auto;
}
#columna2 {
    float:right;
}
#columna3 {
    float:right;
    width: 150px;
    margin: 20px 800px;
    padding: 10px;
}
img {
    border-radius: 10px;
    max-width: 100%; 
    height: auto;
}

img.zoom {
    width: 350px;
    height: 200px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}

#contenedor_centrado {
    position:absolute;
    margin-top:auto; /* El margin top es la mitad del alto de nuestro contenedor, en este ejemplo 400px/2=200px */margin-left:auto /* El margin left es la mitad del ancho, en este ejemplo 600px/2=300px*/
    }
    